NEXT_PUBLIC_SUPABASE_URL=https://ntpvypwlasgoexxxtmle.supabase.co
NEXT_PUBLIC_API_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im50cHZ5cHdsYXNnb2V4eHh0bWxlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDgxNTU2NTIsImV4cCI6MjAyMzczMTY1Mn0.TLQKXlT-imEDNnqPOPo_y4odKxE9D-gHX1GcveH649c
DATABASE_URL="postgres://postgres.ntpvypwlasgoexxxtmle:password1234@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres"